[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=display-power
Comment=disable dpms and display power controls
Exec='sh -c ~/display-power.sh > ~/display-power.log'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
